@attribute [Route(Constants.Category.ViewerPath)]
@using Budget.Shared

@inject NavigationManager NavigationManager
@inject HttpClient Http

@if (Category == default)
{
    <p>Loading...</p>
}
else
{
    <h3 style="background-color: @Category.Color">@Category.Name Category Details</h3>

    <br />
    <TransactionCatalogueElement GetTransactionsUrl="@Constants.Api.GetTransactions(Category)"/>
    <br />
    <a href="@Constants.Category.ViewerPath">Back to List</a>
}

@code {
    [Parameter]
    public long? Id { get; set; }

    private Category? Category { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
        {
            NavigationManager.NavigateTo(Constants.Category.CataloguePath);
        }

        Category = await Http.GetFromJsonAsync<Category>($"Api/Category/{Id}");
    }
}