@attribute [Route(Constants.Check.UpsertorPath)]

@using Microsoft.AspNetCore.Components
@using Budget.Shared

@inject NavigationManager NavigationManager
@inject HttpClient Http

@if (Id == null)
{
    <h3>Create a Check</h3>
}
else
{
    <h3>Update a Check</h3>
}


<div class="row">
    <EditForm Model="@Model" OnValidSubmit="@Upsert">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            Check Number: <InputNumber id="number" @bind-Value="Model.CheckNumber" class="form-control" />
        </div>

        <div class="form-group">
            When: <InputDate id="when" @bind-Value="Model.When" class="form-control" />
        </div>

        <div class="form-group">
            Recipient: <InputText id="recipient" @bind-Value="Model.Recipient" class="form-control" />
        </div>

        <div class="form-group">
            Amount: <InputNumber id="amount" @bind-Value="Model.Amount" class="form-control" />
        </div>

        <div class="form-group">
            Desciption: <InputText id="description" @bind-Value="Model.Description" class="form-control" />
        </div>

        <div class="form-group">
            Withdrawn: <InputCheckbox id="withdrawn" @bind-Value="Model.Withdrawn" class="form-control" />
        </div>

        <br />

        <button type="submit" class="btn btn-success">Update</button>
    </EditForm>

</div>

<br />
<br />
<a href="@Constants.Check.CataloguePath">Back to List</a>


@code {
    [Parameter]
    public long? Id { get; set; }

    private bool IsUpdate => Id == null;
    private Check Model = new();

    protected override async Task OnInitializedAsync()
    {
        if (IsUpdate)
        {
            Model = new()
            {
                When = DateTime.Now
            };
        }
        else
            Model = await Http.GetFromJsonAsync<Check>($"Api/Check/{Id}");
    }

    private async Task Upsert()
    {
        Model.When = DateTime.SpecifyKind(Model.When, DateTimeKind.Utc);
        if (IsUpdate)
        {
            await Http.PutAsJsonAsync($"Api/Check", Model);
            NavigationManager.NavigateTo(Constants.Check.CataloguePath);
        }
        else
        {
            await Http.PutAsJsonAsync($"Api/Check/{Model.Id}", Model);
            NavigationManager.NavigateTo(Constants.Check.CataloguePath);
        }
    }
}