@attribute [Route(Constants.Tag.ViewerPath)]
@using Budget.Shared

@inject NavigationManager NavigationManager
@inject HttpClient Http

@if (Tag == default)
{
    <p>Loading...</p>
}
else
{
    <h3 style="background-color: @Tag.Color">@Tag.Name Tag Details</h3>

    <br />
    <TransactionCatalogueElement GetTransactionsUrl="@Constants.Api.GetTransactions(Tag)"></TransactionCatalogueElement>
    <br />
    <a href="@Constants.Tag.CataloguePath">Back to List</a>
}


@code {
    [Parameter]
    public long? Id { get; set; }

    private Tag? Tag { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (Id == null)
            NavigationManager.NavigateTo(Constants.Tag.CataloguePath);
        Tag = await Http.GetFromJsonAsync<Tag>($"Api/Tag/{Id}");
    }
}