@attribute [Route(Constants.Transaction.CataloguePath)]
@implements INavigationItem
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime Js

<h3>All Transactions</h3>

<TransactionCatalogueElement GetTransactionsUrl="@Constants.Api.GetTransactions()"/>


@code {
    public string Path => Constants.Transaction.CataloguePath;
    public string Title => "Transactions";
    public string Icon => "oi-transfer";
}